@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --blå: #98DFEA;
    --mørkb: #03254E;
    --rosa: #FFD1BA;
    --rød: #750D37;
}

/*standar reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body{
    padding-top: 80px;
}
h1{
    margin-bottom: 10px;
    font-size: 50px;
}
h2{
    margin-bottom: 20px;
}

code{
    background-color: grey;
}

/*nav bar css*/
nav {
	top: 0;
	width: 100%;
	background-color: var(--mørkb);
	color: white;
    position: fixed;
    z-index: 10000;
}
i{
    color:white;
    font-size: 50px;
}


.navsøk{
    align-items: center;
}

.navflex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
    padding: 10px;
}


nav ul li:hover {
    text-decoration: underline;
	
}

.linker ul{
    list-style: none;
}

.linker ul li{
    display: inline-block;
    position: relative;
}
.linker ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.linker ul li ul.dropdown li{
    display: block;
}
.linker ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 1000;
    display: none;
    background-color: var(--mørkb);
}
.linker ul li a:hover{
    background-color: var(--blå);

}
.linker ul li:hover ul.dropdown{
    display: block;
}


/*Første side css*/
.forside{
    position: relative;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 100px;
    background-color: white;
    color: white;
}
.forside video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
}
.text{
    position: relative;
    z-index: 10;
    backdrop-filter: blur(50px);
    border: 2px solid var(--blå);
    padding: 100px;
}



/*footer css*/
footer {
    background-color: var(--mørkb);
    padding: 30px 40px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}

.kontaktinfo {
    width: 40%;
}

.kontaktinfo h3 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
    position: relative;
    font-family: Arial, sans-serif;
}

.kontaktinfo h3::before {
    content: "";    /* hentet fra avis footer, handler om å legge på et element. streken under overskriften*/
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--rød);
}

.kontaktinfo ul li {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
    margin-top: 10px;
    transition: .4s;

}

.kontaktinfo ul li:hover {
    color: var(--blå);
    transform: scale(1.05) translateY(2px);
}



/*css til css siden om design*/
#designside{
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
}

#justeringer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.leke {
    border: 2px solid var(--mørkb);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: var(--rosa);
    flex: 1 1 300px;
    max-width: 600px;
    min-width: 280px;
    /* fjern flex: 1; */
}

.høyre {
    background-color: var(--blå);
    flex: 2 1 400px;
    overflow: auto;
}

.element{
    text-align: center;
    padding: 20px;
    background-color: var(--rosa);
    border: 2px solid var(--mørkb);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    resize: both;
    overflow: hidden;
}
.element-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#triks{
    padding: 50px 20px;
    text-align: center;
}
.effekter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.pop{
    border: 2px solid var(--mørkb);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
    /*
    text-align: center;
    margin: 30px;*/
}
.opp:hover{
    box-shadow: 12px 12px 12px var(--mørkb), 
    -10px -1px 10px whitesmoke;
}
.ned:hover{
    box-shadow: 12px 12px 12px var(--mørkb) inset, 
    -10px -1px 10px whitesmoke inset;
}
.forklaring{
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--blå);
}

/*tips boks*/
.wrapper{
    display: flex;
    gap: 20px;
    width: 300px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 40px auto;
    padding: 10px;
}
.kort{
    scroll-snap-align: center;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 300px;
    background-color: var(--rosa);
    border-radius: 14px;
    text-align: center;
}
/*responsivt */
@media (max-with:768px) {
    #justeringer{
        flex-direction: column;
        align-items: center;
    }
    .effekter{
        flex-direction: column;
    }
    
}


/*html side sin css*/
  .temaer {
    background-color: var(--rød);
    color: white;
    border-radius: 12px;
    padding: 20px 25px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(117, 13, 55, 0.7);
  }

  .temaer ul {
    margin-top: 10px;
    list-style: inside square;
    font-weight: 600;
  }

  #tiltopp {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 40px auto;
    color: white;
    background-color: var(--rød);
    padding: 12px 20px;
    border-radius: 25px;
    width: 150px;
    font-weight: 600;
    box-shadow: 0 3px 8px rgba(117, 13, 55, 0.6);
    transition: background-color 0.3s ease;
  }

  #tiltopp:hover {
    background-color: var(--mørkb);
    cursor: pointer;
  }


/*java side sin css*/
 .boks {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: antiquewhite;
  margin-bottom: 20px;
  cursor: pointer;
}

 .pinkclass{
            background-color: pink;
            border-radius: 50%;
            transition: 1s;
        }
        
.knapp {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--blå);
  border: none;
  border-radius: 6px;
  color: black;
  transition: background-color 0.3s ease;
  margin-left: 10px; 
}

.knapp:hover {
  background-color: var(--mørkb);
  color: white;
}
.jscontainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}
.inndata-gruppe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Input og knapp */
.input-tekst {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



/* css til test*/
.app {
  width: 90%;
  background-color: var(--rosa);
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 200px;
}

.app h1 {
  color: var(--mørkb);
  border-bottom: 1px solid var(--rød);
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.btn {
  background-color: white;
  color: var(--mørkb);
  width: 100%;
  border: 2px solid var(--rød);
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #03254E;
  color: white;
}

#next-btn {
  background-color: var(--mørkb);
  color: var(--rosa);
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: royalblue;
}

.incorrect {
  background: red;
}
